body{
  max-width: 1024px;
  margin: 0 auto;  
}

header h1{
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  
  text-align: center;
  
  margin: 10px 0;
}

header h1 span{
  display: block;

}

#kennyMeade{
  font-size: 200%;
}

#septicDesign{
  font-weight: normal;
  color: #aaa;

  font-size: 120%;
  margin-top: -10px;
}

#topBar{
  border-top: 2px dotted #BBB;
  border-bottom: 2px dotted #BBB;
  
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 2px;
  
  padding: 2px;
  
  font-size: 120%;
  
  color: #666;

}

#topBar span{
  display: inline-block;
  width: calc(30% - 29px);
  padding: 0 14px;
  text-align: center;
}

#topBar span:nth-child(2){
  width: 40%;
  padding: 0;
}

#topBar span:first-of-type{
  float: left;
  text-align: right;
  
  border-right: 1px solid gray;
}

#topBar span:last-of-type{
  float: right;
  text-align: left;
  border-left: 1px solid gray;

}

#topBar a, #topBar a:visited{
  color: inherit;
  text-decoration: none;
}

#topBar a:hover{
  font-style: italic;
}

#contactButton{
  width: 138px;
  height: 70px;
  
  background: #27B;
  
  padding-top: 30px;
  padding-left: 2px;
  
  position: fixed;
  top: -25px;
  right: 100px;
  
  text-align: center;
  color: white;
  line-height: 50px;
  font-size: 25px;
  
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 4px;
  font-weight: bold;
  
  /*overflow: hidden;*/
  
  transition: top .5s;

}

#contactButton:hover{
  top: -10px;
}


#contactButton:after{
  content: "";
  
  position: absolute;
  
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  
  border-bottom: 15px solid white;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  
}

section{
  clear: both;
  margin: 10px 0;
}

#topImages img{
  width: 25%;
  margin-left: 6.25%;
  float: left;
  display: block;
}
