body{
  position: relative;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Pathway Gothic One', sans-serif;
}


#pageBackground{
  position: absolute;
  visibility: visible;

  width: 125vw;
  height: 75%;

  z-index: -10;

  opacity: 0.25;

  transform: rotateZ(5deg);

  background-image: url("../images/planOne.png"), url("../images/planOne.png"), url("../images/planOne.png");
  background-repeat: no-repeat;
  background-position: top left, right, bottom left;

  transform: top .5s ease;

  overflow: hidden;
}
