
#contact {
  background: rgba(0,0,0,0.1);

  padding: 20px 0;

  width: 75%;
  margin: 0 auto;

  clear: both;
}

/*#contact:after{
  content: "";
  display: block;
  clear: both;
}*/


#contact h2{

  font-size: 300%;
  text-align: center;
  color: #FFF;

  text-transform: uppercase;

  transition: transform .5s;
  transform-origin: 0 50%;

  margin: 0 auto;

}

#sentMessage{
  position: relative;
  top: -50px;

  transform-origin: 100% 0 !important;
}

#contact h2.hidden{
  transform: rotateY(90deg);
}

#contact form{

  width: 75%;
  margin: 0 auto;
  margin-top: -60px;

  padding: 0 10px;
}

#contact form:after{
  content: "";
  display: block;
  clear: both;
}

#contact form div{
  width: 48%;
  height: 330px;

}

#contactInfo{
  float: left;
}

#contactMessage{
  float: right;
}

#contactInfo label{
  font-size: 200%;
  width: 65px;
  display: inline-block;
  color: white;
  text-align: right;

  position: relative;
  left: -15px;
}

#contactInfo input{
  height: 25px;
  margin-bottom: 15px;
  position: relative;
  top: -5px;

  width: calc(90% - 75px);
  text-indent: 5px;
}

#contactInfo h3,   #contactMessage label{
  font-size: 250%;
  text-align: center;
  font-weight: normal;
  display: block;
  margin: 0;
  color: #666;
}

@media screen and (min-width: 1000px){
  #contactMessage label{
    text-align: center;
    display: block;
    width: 90%;
    /*background: rgba(75,75,75,0.75);*/
    margin: 0 auto;
    line-height: 75px;
    font-size: 300%;
    position: relative;
    top: 63%;

    margin-bottom: -50px;
  }
}


#message{
  display: block;
  width: calc(100% - 50px);
  margin: 5px auto;
  resize: none;

  height: 250px;

  padding: 5px;

}

#submitButton, #faqButton{
  display: block;
  margin: 0 auto;

  border: none;
  background: none;

  color: #FFF;

  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 2px;

  font-size: 200%;
  height: 40px !important;
  padding: 0;


  transition: color .2s

  /*outline: none;*/
  position: relative;
  top: 0;
  /*font-weight: bold;*/
  text-transform: uppercase;

}

#submitButton:focus, #submitButton:hover, #faqButton:focus, #faqButton:hover{
  color: #AAA;
}

#submitButton[value="Sending..."]{
  pointer-events: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

@media screen and (max-width: 1800px){
 #contact{
    width: 100%;
  }
}


#smallButtons{
  display: none;
}

@media screen and (max-width: 1000px){
  #contact form div{
    display: block;
    width: 100%;
    float: none;
  }

  #largeButtons{
    display: none;
  }

  #smallButtons{
    display: inline;
  }

  #contactInfo{
    height: 200px !important;
    /*margin: 20px auto;*/
  }

  #contactInfo input{
    width: 93%;
  }

  #contactInfo label{
    width: 5%;
    text-align: left;
    position: relative;
    left: -5px;
  }

  #message{
    height: 150px;
    width: calc(100% - 10px);

    float: left;
    /*margin-top: -20px;*/

    height: 150px;
  }

  #contactMessage label{
    position: relative;
    top: 50px;
    /*color: black;*/
    text-align: right;
  }

  #contactMessage{
    height: 200px !important;
  }

}

@media screen and (max-width: 750px){

  #contactForm{
    padding: 0;
  }
  #contactInfo input{
    width: 100%;
    margin-bottom: 0;
  }
  #contactInfo{
    padding: 0;
  }

  #contactInfo label{
    position: relative;
    left: 95%;
    top: 20px;
    font-size: 120%;
    z-index: 1;
    color: #666;
  }
}

@media screen and (max-width: 500px){
  #contactForm{
    width: 90% !important;
  }

  #message{
    margin-top: -20px;
  }
}

@media screen and (max-width: 400px){
  #contactInfo label, #contactMessage label{
    display: none;
  }

  #contactInfo input{
    margin: 10px auto;
  }

  #message{
    margin: 0 auto;
  }
}
