header{
  text-transform: uppercase;
}

#largeHeader{
  background: rgba(255,255,255, 0.7);
}

#largeHeader h1{
  text-align: center;
  margin: 0;
}

#largeHeader h1 span{
  display: block;
}


#largeHeader .kennyMeade{
  font-size: 200%;
}

#largeHeader .septicDesign{
  font-weight: normal;


  font-size: 120%;
  margin-top: -10px;
}

.septicDesign{
  color: #AAA;
}

#largeHeader .septicDesign::before, #largeHeader .septicDesign::after{
  content: "—";
}


#topBar{
  border-top: 2px solid #BBB;
  border-bottom: 2px solid #BBB;

  letter-spacing: 2px;

  padding: 2px 0;

  font-size: 120%;

  color: #666;

}

#topBar span{
  width: 33%;
  display: inline-block;
  text-align: center;
}

#topBar span:first-of-type{
  text-align: right;
}

#topBar span:last-of-type{
  text-align: left;
}

#topBar a, #topBar a:visited{
  color: inherit;
  text-decoration: none;
}

header a:hover{
  font-style: italic;
}




#smallHeader{
  position: fixed;
  top: -200px;

  background: white;
  padding: 5px;

  z-index: 10;

  width: 100%;

  height: 40px;

  transition: top 0.5s;
}

#smallHeader.enabled{
  top: 0;
}


#smallHeader h1{
  margin: 0 25px 0 60px;
  display: inline;
}

#smallHeader h2{
  display: inline;

  position: relative;
  top: -2px;

  font-weight: normal;
  font-family: 'Pathway Gothic One', sans-serif;


}

#smallHeader i{
  /*line-height: 50px;*/

  font-size: 25px;

  margin-left: 100px;
}


#smallHeader a{
  color: #444;
  text-decoration: none;

  font-size: 20px;

  position: relative;
  top: -2px;
}
