header{
  text-transform: uppercase;
}

#largeHeader{
  /*background: rgba(255,255,255, 1);*/
  background-image: url("../images/chalkboard.jpg");
  color: white;

  margin-bottom: 20px;
}

#largeHeader h1{
  text-align: center;
  margin: 0;
  color: white;
}

#largeHeader h1 span{
  display: block;
}


#largeHeader .kennyMeade{
  font-size: 200%;
}

#largeHeader .septicDesign{
  font-weight: normal;


  font-size: 120%;
  margin-top: -10px;

}

.septicDesign{
  color: #AAA;
}

#largeHeader .septicDesign::before, #largeHeader .septicDesign::after{
  content: "—";
}


#topBar{
  /*border-top: 2px solid #BBB;*/
  border-bottom: 2px solid #FFF;

  letter-spacing: 2px;

  padding: 2px 0;

  font-size: 120%;


}

#topBar span{
  width: 33%;
  display: inline-block;
  text-align: center;
}

#topBar span:first-of-type{
  text-align: right;
}

#topBar span:last-of-type{
  text-align: left;
}

#topBar a, #topBar a:visited{
  color: inherit;
  text-decoration: none;
}

header a:hover{
  font-style: italic;
}




#smallHeader{
  position: fixed;
  top: -200px;

  background: rgba(0,0,0,0.75);
  padding: 5px;

  z-index: 10;

  width: 100%;

  height: 40px;

  transition: top 0.5s;

  color: white;
}

#smallHeader.enabled{
  top: 0;
}


#smallHeader h1{
  margin: 0 25px 0 60px;
  display: inline;
}

#smallHeader h2{
  display: inline;

  position: relative;
  top: -2px;

  font-weight: normal;
  font-family: 'Pathway Gothic One', sans-serif;


}

#smallHeader i{
  /*line-height: 50px;*/

  font-size: 25px;

  margin-left: 100px;
}


#smallHeader a{
  color: #FFF;
  text-decoration: none;

  font-size: 20px;

  position: relative;
  top: -2px;
}

@media screen and (max-width: 1200px){
  #smallHeader i{
    margin: 0 0 0 3vw !important;
  }

  #smallHeader h1{
    margin: 0 15px;
  }

  #smallHeader>span:first-of-type{
    font-size: 90%;
  }

  #smallHeader>span:nth-last-of-type(-n+2){
    /*float: right;*/
    margin: 7px 25px 0 0;
  }


}

@media screen and (max-width: 980px){
  #largeHeader{
    height: 120px;
  }

  #largeHeader:after{
    content: "";
    display: block;
    clear: both;
  }

  #largeHeader h1{
    width: 50%;
    float: left;
  }
  #topBar{
    width: 50%;
    float: right;
    border: none;

    padding-top: 20px;
  }

  #topBar span{
    display: block;
    width: 100%;
    text-align: center !important;

    height: 30px;
  }

  #smallHeader{
    height: 75px;
  }

  #smallHeader>span:first-of-type{
    display: block;
    width: 40%;
    margin-left: 22.5px;
    width: 50%;
  }

  #smallHeader>span:nth-last-of-type(-n+2){
    float: right;

    position: relative;
    top: -50px;
    left: -40px;

    /*background: red;*/

  }

  #smallHeader>span:nth-last-of-type(-n+2) a, #smallHeader>span:nth-last-of-type(-n+2) i {
    /*font-size: 3vw;*/
  }

}

@media screen and (max-width: 800px){

  #smallHeader{
    height: auto;
  }

  #smallHeader h1, #smallHeader>span:first-of-type{
    width: 100% !important;
    display: block;
    text-align: center;
  }

  #smallHeader>span:nth-last-of-type(-n+2){
    float: left;
    margin: 0;
    position: static;
    /*background-color: red;*/
    display: block;
    width: 50% !important;
    text-align: left;
  }

  #smallHeader .phone{
    text-align: right !important;
  }

  #smallHeader .phone a{
    word-spacing: 7px;
    letter-spacing: 2px;
  }

}

@media screen and (max-width: 600px){

  #largeHeader{
    height: auto !important;
  }
  #largeHeader h1, #topBar{
    width: 100%;
  }

  #largeHeader .kennyMeade, #largeHeader .septicDesign{
    display: inline !important;
    font-size: 6vw !important;
  }

  .septicDesign::before, .septicDesign::after{
    content: "" !important;
  }

  #topBar{
    font-size: 4vw !important;
    padding: 1vw;
  }

  #topBar span{
    margin: 0 !important;
    height: auto;
    line-height: normal;
  }

  #smallHeader h1{
    margin: 0;
  }

  #smallHeader>span{
    margin: 0 !important;
    width: 100%;
  }
  #smallHeader h2{
    width: 100%;
  }

  #smallHeader>span:nth-last-of-type(-n+2){
    display: none;
  }
}

@media screen and (max-width: 350px){
  #smallHeader h1{
    font-size: 150%;
  }

  #smallHeader h2{
    font-size: 125%;
  }
}
