
section{
  margin: 40px auto;

  width: 90%;
}

.pSection{
  position: relative;
  overflow: hidden;
  height: 300px;

  text-align: center;


  color: white;
  text-shadow: black 0 0 20px;

}

.pSection h2{
  line-height: 50px;
  font-size: 225%;
  text-align: center;

  letter-spacing: 0.15em;
  text-transform: uppercase;

}

.pSection p{
  font-size: 250%;
  text-align: center;
}

.pSection .bg{
  position: absolute;
  width: 100%;
  height: 1900px;
  left: 0;
  top: 0px;

  background-repeat: repeat-y;
  background-size: contain;

  z-index: -1;

  transition: top .05s linear;
  /*filter: brightness(75%);*/



}

#welcomeText{
  margin-top: 10px;
}

#welcomeText .bg{
  background-image: url("../images/NL.png");
  background-position: top center;
  background-size: cover;
}

#cost .bg{
  background-image: url("../images/puffin.jpg");
  background-position: 0 -10vw;
  background-size: 210%;

  background-repeat: no-repeat;

  border-top: transparent;
  background-clip: border-box;
}

@media screen and (max-width: 500px){
  #cost .bg{
    height: 600px;
    background-size: cover;
    /*background-position: top left;*/
  }
}

@media screen and (max-width: 430px){
  #cost .bg{
    height: 750px;
    background-position: 30% top;
  }
}

#applications .bg{
  background-image: url("../images/table.jpg");
  background-size: cover;
}

#applications{
  height: 200px;
}

#applications ul{
  list-style-type: none;
  list-style-position: outside;

  margin-top: 30px;
  padding: 0;
}

#applications a{
  color: #FFF;
  text-decoration: none;
  font-size: 200%;
}

#applications li{
  width: 33.33%;
  line-height: 40px;

  text-align: center;

  float: left;

  background-color: rgba(0,0,0,0.2);
  transition: background-color .2s;

}

#applications li:hover{
  background-color: rgba(0,0,0,0.4);
}

.pSection+i{
  display: none;
}

@media screen and (min-width: 1200px){
  .pSection:not(#applications){
    width: 65%;
    margin: 30px 4%;
  }


  .pSection:not(#applications)+i{
    font-size: 250px;
    display: block;
    width: 25%;
    margin-top: 45px;
    color: #FFF;
    opacity: 0.75;
    /*text-shadow: 5px 5px 5px #FFF;*/
  }

  .pSection:not(#applications) p, .pSection:not(#applications) h2{
    padding: 0 30px;
  }



  #welcomeText{
    float: left;
    text-align: left;
  }

  #welcomeText+i{
    float: right;
    text-align: left;
  }

  #cost{
    float: right;

    text-align: right;
  }

  #cost+i{
    float: left;
    text-align: right;
  }

}


@media screen and (max-width: 900px){
  .pSection{
    width: 100%;
    margin: 10px auto;

    height: 225px;

    margin-top: 30px;
  }
}



@media screen and (max-width: 750px){
  .pSection{
    font-size: 80%;
    /*padding: 2vw;*/
  }

  #applications{
    padding: 0;
  }

  #applications h2{
    margin: 0 0 -25px 0;
  }

  #applications li{
    display: block;
    width: 100%;
    margin: 0;
  }

}

@media screen and (max-width: 500px){

  .pSection:not(#applications){
    font-size: 50%;
    padding: 0;
  }

  .pSection h2:not(#applications h2){
    line-height: normal;
    margin-top: 20%;
  }



}

@media screen and (max-width: 400px){
  #applications h2{
    font-size: 21px;
  }
}
