
section{
  margin: 40px auto;

  width: 90%;
}

.pSection{
  position: relative;
  overflow: hidden;
  height: 300px;

  text-align: center;

  border: 1px solid #666;

  color: white;
  text-shadow: black 0 0 20px;

}

.pSection h2{
  background: rgba(0,0,0,0.2);
  line-height: 50px;
  font-size: 200%;

  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: normal;

}

.pSection p{
  background: rgba(0,0,0,0.12);

  height: 150px;
  font-size: 175%;
  padding: 20px 5px 0 5px;
}

.pSection .bg{
  position: absolute;
  width: 100%;
  height: 1900px;
  left: 0;
  top: 0px;

  background-repeat: repeat-y;
  background-size: contain;


  opacity: 75;
  z-index: -1;

  transition: top .05s linear;
  filter: brightness(50%) grayscale(15%);

}

#welcomeText{
  margin-top: 10px;
}

#welcomeText .bg{
  background-image: url("../images/forest.jpg");
  background-position: top;
  background-size: cover;
}

#cost .bg{
  background-image: url("../images/money.jpg");
  background-position: top;
}

#applications .bg{
  background-image: url("../images/table.jpg");
  background-size: cover;
}

#applications{
  height: 200px;
}

#applications ul{
  list-style-type: none;
  list-style-position: outside;

  margin-top: 30px;
  padding: 0;
}

#applications a{
  color: #FFF;
  text-decoration: none;
  font-size: 200%;
}

#applications li{
  width: 33.33%;
  line-height: 40px;

  text-align: center;

  float: left;

  background-color: rgba(0,0,0,0.2);
  transition: background-color .2s;

}

#applications li:hover{
  background-color: rgba(0,0,0,0.4);
}
